body{
    background-color:#E4E4DE ;
    margin:200px;
}


h2{
    margin-top: 30px;
    text-decoration: underline;

}

.container{
    background-color: #D1E8E2;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

.counter-d
{
    font-size:72px;
    font-weight: bold;
    color:#19747E ;
    text-shadow:  0 2px 10px rgba(0, 0, 0, 0.2);;
}


button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #007bff;
    cursor: pointer;
    margin: 0 10px;
    width: 80px;
    color: #fff;

}

.btn-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

#reset
{
    background-color: #c82333;
    margin-bottom: 20px;
}

#reset:hover{
    background-color: #b11c2b;
}

.blue-btn{
    font-size: 24px;

}
.blue-btn:hover{
    background-color: #222bff;
}